workflows/[VA360] RAG - Pinecone.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T21:20:11.351Z",
  "id": "5OLTlBzx8KijGwnD",
  "isArchived": false,
  "meta": null,
  "name": "[VA360] RAG - Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ihxQGrrssUbVTesdYuqGBNonJu58GCxQ",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ihxQGrrssUbVTesdYuqGBNonJu58GCxQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "c29ac9fa-84fa-42bf-ad2e-5bb4710e4a74",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukEr84LecIIZbNHw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "9003897f-2788-4b02-80df-e221bf242569",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        256
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "085a6b58-2c62-4413-bf5d-dd71097c0d6e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -32,
        480
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "db2ae89c-e84e-4c9d-9633-5154f6c4d419",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        176,
        480
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "c91a2610-020b-4ac8-937a-d15319e56ea0",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        176,
        640
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "libreria",
          "mode": "list",
          "cachedResultName": "libreria"
        },
        "options": {
          "pineconeNamespace": "libreria-va360"
        }
      },
      "id": "27352649-9198-4e17-9147-144a63c1415b",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -32,
        256
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-04T21:20:11.357Z",
      "updatedAt": "2025-11-04T21:20:11.357Z",
      "role": "workflow:owner",
      "workflowId": "5OLTlBzx8KijGwnD",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T21:20:11.351Z",
  "versionId": "7b9b0fb4-d10c-403a-8e03-e622954719fe"
}