workflows/[VA360] HTTP Request.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T17:51:33.257Z",
  "id": "bZsHFssZnpRIt72a",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[VA360] HTTP Request",
  "nodes": [
    {
      "parameters": {},
      "id": "27ac46ac-380b-4a1f-9c63-9191c79f8a0a",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -880,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://exercisedb.p.rapidapi.com/exercises",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "a7894b5cd0msh05b773173392423p1f4823jsn57cc063fd5fe"
            }
          ]
        },
        "options": {}
      },
      "id": "f3172116-8fe8-49fb-9a9f-cc705cc404ab",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de94bcb8-d9be-4153-a527-02dee975e06b",
              "name": "language",
              "value": "french",
              "type": "string"
            },
            {
              "id": "d153ae78-a2fc-4d2e-8bef-77a265720e24",
              "name": "Test",
              "value": "test",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d19f736e-4ee3-4d9a-8a31-0c6256c8b546",
      "name": "Language",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        208
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cO2PvO6Zm22jR5wXMIi0jd4Qlz-39zqndX26QktHJ0s",
          "mode": "list",
          "cachedResultName": "ExerciseDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cO2PvO6Zm22jR5wXMIi0jd4Qlz-39zqndX26QktHJ0s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cO2PvO6Zm22jR5wXMIi0jd4Qlz-39zqndX26QktHJ0s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bodypart": "={{ $('HTTP Request').item.json.bodyPart }}",
            "name": "={{ $('HTTP Request').item.json.name }}",
            "target": "={{ $('HTTP Request').item.json.target }}",
            "instructions": "={{ $('Loop Over Items').item.json.instructions }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bodypart",
              "displayName": "bodypart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target",
              "displayName": "target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instructions",
              "displayName": "instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2e06b11-b91e-4a90-a84a-61c5e1800984",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        368,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0QIblqQurxe62Qfv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "78546eef-892e-4fd5-a2e4-abd31809a6fc",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Traduce el contenido al siguiente idioma: {{ $('Language').item.json.language }}\n\nEl contenido es este: {{ $('Loop Over Items').item.json.instructions }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "bfd8690f-f6c9-424d-9b66-7f226b909d72",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        0,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "6aj6wsaRy4XdFF2Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "edc8a360-3a9c-40e5-b8d9-3d5cacf230cc",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-31T17:51:33.259Z",
      "updatedAt": "2025-10-31T17:51:33.259Z",
      "role": "workflow:owner",
      "workflowId": "bZsHFssZnpRIt72a",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-31T18:17:51.000Z",
  "versionId": "4bc2808f-97a3-415a-b9de-85d65c5c261c"
}