workflows/[VA360] Backup Workflows.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-05T20:50:37.521Z",
  "id": "lH2KkghYvpL0raSs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[VA360] Backup Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "adcd9a38-0dd0-4eee-a16d-f0093a6fe491",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -608,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "30ef5080-60bd-436e-94cb-634bb2a85906",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        240,
        -64
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "f40a9d87-0793-47af-a808-1fbc512c7589",
      "credentials": {
        "githubApi": {
          "id": "5ssbUem3shfsRBvT",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "9d30d9dd-1bc5-4381-81b9-2e06679e6366",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        784,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9aa3ca08-0b81-43a2-b8f6-d88f677807d6",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b785ceea-5100-4ed2-b293-f96eacd05402",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "58b24bea-3e18-43e0-bea2-61d8a9f9a825",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "f2e35ffc-9ef3-4147-bf61-831c518d5501",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1104,
        32
      ],
      "typeVersion": 1,
      "webhookId": "c89d658a-30a4-47a6-ac71-6a7b853a4b77",
      "credentials": {
        "githubApi": {
          "id": "5ssbUem3shfsRBvT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "7de2addd-8676-4fca-bf75-ed1091d1ff8a",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1104,
        272
      ],
      "typeVersion": 1,
      "webhookId": "bdd8778e-acc7-4dbe-97f5-f640954a54db",
      "credentials": {
        "githubApi": {
          "id": "5ssbUem3shfsRBvT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "69cc7069-3bf5-445c-9344-c8c21619b825",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -608,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "8f3fe149-761b-4afa-a914-c84f97dd7f59",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -224,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "3UTHzBRm6wVAPpO5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "6f7d2079-db96-44c0-bbe0-4f3cedd56f9a",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        624,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "740b029e-7479-459b-b4d0-981baf4c2c4e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        480,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "walterbaldan"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "c1c3073e-dbad-4c0a-a46f-5c24a43b1661",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -432,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c5046acb-f04a-4a63-99c9-954c44f39664",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        -176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2c730a7-9fb1-4a21-b373-c646988b6bad",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        48
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Panama",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2025-11-05T20:50:37.591Z",
      "updatedAt": "2025-11-05T20:50:37.591Z",
      "role": "workflow:owner",
      "workflowId": "lH2KkghYvpL0raSs",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T20:53:00.000Z",
  "versionId": "08a508b9-6a46-49d0-8529-f6e3d596ce1d"
}