workflows/[VA360] RAG - Pinecone.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T21:20:15.691Z",
  "id": "F9WpseTN2h1dVOXV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[VA360] RAG - Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Fk0m2GiuLLltw9JH1ZfLJ9zjAQrwv3tR",
          "mode": "id"
        },
        "event": "watchFolderUpdated"
      },
      "id": "c29ac9fa-84fa-42bf-ad2e-5bb4710e4a74",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukEr84LecIIZbNHw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "085a6b58-2c62-4413-bf5d-dd71097c0d6e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        176,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "5axlD0VbH7VPNLxV",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "db2ae89c-e84e-4c9d-9633-5154f6c4d419",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        384,
        480
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "c91a2610-020b-4ac8-937a-d15319e56ea0",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        640
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "libreria6",
          "mode": "list",
          "cachedResultName": "libreria6"
        },
        "options": {
          "pineconeNamespace": "libreria-va360"
        }
      },
      "id": "27352649-9198-4e17-9147-144a63c1415b",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        176,
        256
      ],
      "credentials": {
        "pineconeApi": {
          "id": "QhpTGFQOv5XeQbMG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return multiple files as items\nreturn [\n  {\n    fileId: \"1YRG-cDyKghBoLPLmNdr3lCDADgDzU-g8\",\n    fileName: \"inventario-libros\"\n  },\n  {\n    fileId: \"1-rUZnCsWIacTF9JmHt7_v4TFEMoeGSwK\", \n    fileName: \"faq-libreria\"\n  }\n  // Agrega más archivos aquí si necesitas\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        256
      ],
      "id": "7127331f-7f06-4066-b81d-e6db2cdcb2ea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "9003897f-2788-4b02-80df-e221bf242569",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukEr84LecIIZbNHw",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-04T21:20:15.722Z",
      "updatedAt": "2025-11-04T21:20:15.722Z",
      "role": "workflow:owner",
      "workflowId": "F9WpseTN2h1dVOXV",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-11-05T13:45:38Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T14:43:51.000Z",
  "versionId": "10bd53f3-a599-417d-9454-e8c8337b668b"
}