workflows/Memoria y herramientas.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T12:00:56.377Z",
  "id": "JTjUUlUWNbMP9pRj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Memoria y herramientas",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "a1c69504-d832-442a-b49a-280d95c246f5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        112,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "qdFtRZhRJKil1S3s",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Eres un asistente útil. Responde a la siguiente pregunta usando tus herramientas disponibles (calculadora y Wikipedia) cuando sea necesario.\n\nPregunta: {{ $json.Item }}\n\nResponde de manera clara, concisa y siempre en español.",
        "options": {}
      },
      "id": "0d1910e4-0936-4a0a-9555-b2a15f81c286",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        240,
        -64
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        160
      ],
      "id": "d81a5435-a545-4541-91f5-ecdfd2078ece",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -64
      ],
      "id": "48b84bf4-87e5-4bab-aad0-856ffdf18600",
      "name": "When chat message received",
      "webhookId": "e8a98bb9-84fe-4c39-bcff-a16e315fe75f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xbrMOrimvVZ-S7_B_In_qekMu4fSOc3a5M57hOOoJ8Y",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xbrMOrimvVZ-S7_B_In_qekMu4fSOc3a5M57hOOoJ8Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -64
      ],
      "id": "1b2c997a-4fc3-4965-8b29-a212a084f6aa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b19rl7XjBNXNd0LR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "42561b6c-d468-4ec0-b769-2c3e350cb143",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        496,
        160
      ],
      "id": "23a1d7c5-3fc9-4daa-900d-cc198955d112",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xbrMOrimvVZ-S7_B_In_qekMu4fSOc3a5M57hOOoJ8Y",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xbrMOrimvVZ-S7_B_In_qekMu4fSOc3a5M57hOOoJ8Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "{{ $('Append row in sheet').item.json.Item }}\n",
            "Respuesta": "{{ $json.output }}"
          },
          "matchingColumns": [
            "Item"
          ],
          "schema": [
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -64
      ],
      "id": "20efd026-3d63-46da-9e15-4a733a444d4c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b19rl7XjBNXNd0LR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-04T12:00:56.390Z",
      "updatedAt": "2025-11-04T12:00:56.390Z",
      "role": "workflow:owner",
      "workflowId": "JTjUUlUWNbMP9pRj",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T15:48:03.000Z",
  "versionId": "18901af7-77a7-4833-b001-1e51c42956dc"
}