workflows/Responde secretaria.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Responde la Secretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T23:41:35.548Z",
  "id": "wJc5zloLVbR4YjYg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Responde secretaria",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        0
      ],
      "id": "ada14618-e2eb-4cc8-a6a8-5f79d29f4746",
      "name": "Telegram Trigger",
      "webhookId": "8b6395ec-c7bc-4bcc-b606-74ebb9f1cf4d",
      "credentials": {
        "telegramApi": {
          "id": "ihoJRNexlyuz3GAw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15285458-368a-435c-8f79-42b5cedeffdf",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": "={{ $json.message.from.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        0
      ],
      "id": "4472f377-e589-4877-8144-634b3ae9b0e1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Mensaje Recibido Jefe\\n\\n  {{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -16
      ],
      "id": "50a18f5a-446f-4be9-ab32-7b7616761ce8",
      "name": "Responde la Secretaria",
      "webhookId": "39653896-a0fb-4089-b561-bf1d42679313",
      "credentials": {
        "telegramApi": {
          "id": "ihoJRNexlyuz3GAw",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-31T23:41:35.552Z",
      "updatedAt": "2025-10-31T23:41:35.552Z",
      "role": "workflow:owner",
      "workflowId": "wJc5zloLVbR4YjYg",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-01T13:35:33.000Z",
  "versionId": "ba23f293-7c14-40c3-b0f3-07a0b45b1051"
}