workflows/todo loop.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T11:43:43.888Z",
  "id": "q0xvRYIcz9zLYjye",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "todo loop",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -80
      ],
      "id": "966e762d-f370-4fed-b9e3-8234b46bb19a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://builtworlds.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        -80
      ],
      "id": "c063bea8-2f16-47b7-a453-a6618f97d0bf",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -80
      ],
      "id": "aa0696e6-5a2e-492a-8481-a2035ea2df11",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q9kc_Dq41qPX01C8-blB-gy-mOX8rRGdiieZ0O135Ks",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q9kc_Dq41qPX01C8-blB-gy-mOX8rRGdiieZ0O135Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo": "={{ $('Loop Over Items').item.json.Titulo_modificado }}",
            "Descripcion": "={{ $json.message.content }}",
            "Autor": "={{ $('Loop Over Items').item.json['dc:creator'] }}",
            "Fecha": "={{ $('Loop Over Items').item.json.pubDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Autor",
              "displayName": "Autor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -32
      ],
      "id": "0b7bc2f1-6765-42b2-bccb-65e10b83272d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b19rl7XjBNXNd0LR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        -176
      ],
      "id": "507a83e1-1c96-45a3-ab92-8e099238f4fa",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=Traduce al español el texto de {{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        272,
        -32
      ],
      "id": "4b94c3c6-561b-48f8-8063-813085e199cd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6aj6wsaRy4XdFF2Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70ba6a6a-fcb5-4c85-acd5-1281038304c5",
              "name": "Titulo_modificado",
              "value": "=Nocias de : {{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -80
      ],
      "id": "f3a9caa5-0907-401e-b4fd-5b7e3c39c365",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-07T11:43:43.892Z",
      "updatedAt": "2025-11-07T11:43:43.892Z",
      "role": "workflow:owner",
      "workflowId": "q0xvRYIcz9zLYjye",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-07T12:36:05.000Z",
  "versionId": "5bc5c435-1e8f-4c19-92cf-35405ab317e0"
}