workflows/Vemos http request.json
{
  "active": false,
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T13:33:11.767Z",
  "id": "AAgP1Z1U5GAF9yE9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Vemos http request",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -16
      ],
      "id": "6db5fa5a-9a1d-4b60-8c59-72f85c2d768c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zT87ONRhWeK2lKqP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca61421-a535-461a-a8a1-7c8a5d7fb017",
              "name": "language",
              "value": "spanish",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -32
      ],
      "id": "65cfd7d2-1bc0-46cf-9759-c803da69b156",
      "name": "Language"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Traduce el contenido al siguiente idioma: {{ $('Language').item.json.language }}\n\nEl contenido es este: {{ $('Loop Over Items').item.json.description }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        -16
      ],
      "id": "d765fc7c-a927-476e-bbfb-ed8745ea7bcf",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "asPH9JXOIU6bedHu",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        -240
      ],
      "id": "e839eb7a-4d00-4af9-a60b-f85d57d6276a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        -32
      ],
      "id": "3934ca2b-ecd6-4374-8675-6a840857de3e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://exercisedb.p.rapidapi.com/exercises",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "a7894b5cd0msh05b773173392423p1f4823jsn57cc063fd5fe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -32
      ],
      "id": "ddea5575-ae1c-4769-b3b3-21d73929b254",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -32
      ],
      "id": "0ebe8aa2-1308-4708-a3d2-97a8c9289741",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-31T13:33:11.794Z",
      "updatedAt": "2025-10-31T13:33:11.794Z",
      "role": "workflow:owner",
      "workflowId": "AAgP1Z1U5GAF9yE9",
      "projectId": "wwdcdBgDn7iCDiTl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-31T17:45:42.000Z",
  "versionId": "8f6f41b3-c467-4050-8cc5-5c0024f12608"
}